:root {
  color-scheme: light dark;
  scroll-behavior: smooth;
  --color-ink: #1e1e1e;
  --color-paper: #fff;
  --color-accent: #004063;
  --shadow-strong: 10px 8px 0 0 #000;
  --shadow-medium: 5px 4px 0 0 #000;
  --shadow-light: 3px 3px 0 0 #000;
  --border-strong: 2px solid var(--color-ink);
  --border-regular: 1px solid var(--color-ink);
  --panel-padding: 80px;
  color: var(--color-ink);
  background: var(--color-paper);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Archivo Narrow-fallback";
  size-adjust: 82.59%;
  ascent-override: 138%;
  src: local("Arial");
}

@font-face {
  font-family: "Roboto-fallback";
  size-adjust: 100.1%;
  ascent-override: 93%;
  src: local("Arial");
}

.archivo-800 {
  font-family: "Archivo", "Archivo Narrow-fallback", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  line-height: .9;
  font-variation-settings:
    "wdth" 62.5;
}

.roboto-400 {
  font-family: "Roboto", "Roboto-fallback", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-700 {
  font-family: "Roboto", "Roboto-fallback", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-900 {
  font-family: "Roboto", "Roboto-fallback", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



.body-xlarge {
  font-size: 40px;
  margin: 0;
}

.body-large {
  font-size: 32px;
  margin: 0;
}

.body-medium {
  font-size: 24px;
  margin: 0;
}

.body-small {
  font-size: 16px;
  margin: 0;
}

.text-center {
  text-align: center;
}

.text-box {
  text-box: trim-both cap alphabetic;
}

.flex-container {
  display: flex;
}

.flex-dir-col {
  flex-direction: column;
}

.flex-dir-row {
  flex-direction: row;
}

.underline-callout {
  text-transform: uppercase;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 2px;
  text-underline-offset: auto;
  text-underline-position: from-font;
}